
input  {
    padding: 12px 20px;
    margin: 8px 0;
  }
div {
    width: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
  }
  button {
    padding: 14px 20px;
    margin: 8px 0;
    border: .5px solid rgba(112, 110, 110, 0.219);
    border-radius: 4px;
  }
  select {
    padding: 12px 20px;
    margin: 8px 0;
  }
  textarea{
    width: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2px;
    color: rgb(63, 62, 61);
    font-size: 16px;
    text-align: center;
  }